@media screen and (min-width: 1440px);
body {
    background-color: hsl(233, 47%, 7%);
}

title {
    font-family: 'Inter', sans-serif;
}

.main-container {
    background-color: transparent;
    width: 100vw;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.text-container {
    height: 540px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 630px;
    background-color: hsl(244, 38%, 16%);
    margin-top: 100px;
}

.heading {
    color: hsl(0, 0%, 100%);
    font-weight: 1500;
    font-family: 'Inter', sans-serif;
    margin: 90px 90px 10px 90px;
    line-height: 50px;
    font-size: 40px;
}

span {
    color: hsl(277, 64%, 61%);
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    margin: 0px 90px auto 90px;
    line-height: 30px;
    padding-bottom: 70px;
}

.image-container {
    height: 540px;
    width: 630px;
    margin-top: 100px;
    background-image: url("image-header-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: hsl(277, 64%, 61%, 0.5);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.ten {
    color: hsla(0, 0%, 100%, 0.6);
    font-weight: 1500;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    display: inline;
    margin: 90px 90px auto 90px;
}

.three {
    color: hsla(0, 0%, 100%, 0.6);
    font-weight: 1500;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    display: inline;
    margin: 90px 90px auto 0;
}

.twelve {
    color: hsla(0, 0%, 100%, 0.6);
    font-weight: 1500;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    display: inline;
    margin: 90px auto auto 0px;
}

.com {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsl(0, 0%, 100%);
    line-height: 35px;
    display: inline;
    margin: 0px 61px auto 90px;
}

.temp {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsl(0, 0%, 100%);
    line-height: 35px;
    display: inline;
    margin: 0px 56px auto 0px;
}

.que {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsl(0, 0%, 100%);
    line-height: 35px;
    display: inline;
    margin: 0px auto auto -8px;
}